src/cpp/third_party/sqlite/sqlite3.c -whitespace
src/cpp/third_party/sqlite/sqlite3.h -whitespace
src/cpp/third_party/cgltf/cgltf.h -whitespace
src/cpp/third_party/cgltf/cgltf_write.h -whitespace
src/cpp/third_party/tinyobjloader/LICENSE -whitespace
src/cpp/third_party/miniz/** -text -whitespace
LICENSES/miniz.txt -text -whitespace
LICENSES/miniz-zip.txt -text -whitespace
src/cpp/third_party/nlohmann_json/** -text -whitespace
LICENSES/nlohmann-json.txt -text -whitespace
LICENSES/nlohmann-json-source.txt -text -whitespace
src/cpp/third_party/zstd/** -text -whitespace
LICENSES/zstd.txt -text -whitespace
LICENSES/zstd-source.txt -text -whitespace
src/cpp/third_party/fast_float/** -text -whitespace
LICENSES/fast-float.txt -text -whitespace
src/cpp/third_party/lazperf/** -text -whitespace
LICENSES/lazperf.txt -text -whitespace
LICENSES/lazperf-source.txt -text -whitespace
